
<div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Offer</h2>
					<p>We provide a full spectrum with a focus on web and mobile application development. Our offerings cover all stages of the software development life cycle: from business analysis, design, and prototyping to the actual development, quality assurance, and post-project maintenance and support.</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-desktop text-primary sr-icons"></i>
                        <h3>IOT</h3>
                        <p class="text-muted">Internet of Things (IoT) is changing the business landscape, creating opportunities for new sources of revenue, smarter interactions with customers, and greater efficiencies.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code text-primary sr-icons"></i>
                        <h3>MEAN STACK</h3>
                        <p class="text-muted">The lightweight and super efficient MEAN stack has unleashed a new era of developing robust, swift and scalable web applications using its strong design patterns such as Model/View/Controller (MVC).</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
                        <h3>.NET & MOBILE APPS</h3>
                        <p class="text-muted">Develop powerful, highly usable mobile apps that solve business problems, attract users, and reinforce your brand.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                        <h3>Corporate Trainings</h3>
                        <p class="text-muted">Our training solutions facilitate in-depth knowledge sharing and interaction to enhance your skills and inspire your business talent.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    